{% extends 'base.html' %}

{% block content %}

    <form action="{% url 'addstock' %}" role="search" method="POST">
        {%csrf_token%}
        <input width="15" type="search" placeholder="Ticker Symbol" aria-label="Search" name="ticker">
        <button class="btn btn-outline-dark" type="submit">Add</button>
    </form>
    <hr>
    {% for item in ticker %}
        <li>{{item}} <a href="{% url 'deletestock' item.id %}"> Delete</a><br/></li> <!--the {% url 'deletestock' item.id %} "deletestock" 
            points to the urls file and the "name" parameter of the url and calls that path. the "item.id" gets passed into the views.delete_stock function-->
    {% endfor %}

{% endblock %}